@{
    ViewData["Title"] = "Contact Us";
}
<div class=" container">
    <h1> Please contact us</h1>
    <p> Phone: +27 734601347</p>
    <p> Email: ST10049585@vcconnect.edu.za</p>
    <p> Address: 37 Roeland St Cape Town City Centre</p>
</div>